@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<button id="listButton" class="btn-success">List Processes</button>
<ul id="processList" class="list-group"></ul>

@section scripts {
    <script type="text/javascript">
        function bindData(element, data) {
            var items = [];
            items.push('<li class="list-group-item active">Processes</li>');
            $.each(data, function (id, option) {
                items.push('<li class="list-group-item">' + option.Name + '</li>');
            });
            element.html(items.join(''));

        }

        $(document).ready(function () {
            $("#listButton").bind("click", function (e) {
     
                if ("undefined" != typeof Windows) {
                    var t = new Windows.ApplicationModel.Contacts.ContactPicker;
                }

            });
        });


      

    </script>
}