@{
    ViewBag.Title = "WebDemoKing";
    ViewBag.Message= "Calling native Windows APIs since 2015...";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<button id="contactButton" class="btn-success">Pick a contact</button>
<div id="contactDiv" class="badge">Name?</div>


@section scripts {
    <script type="text/javascript">
        function bindData(element, data) {
            var items = [];
            items.push('<li class="list-group-item active">Processes</li>');
            $.each(data, function (id, option) {
                items.push('<li class="list-group-item">' + option.Name + '</li>');
            });
            element.html(items.join(''));

        }

        $(document).ready(function () {
            $("#contactButton").bind("click", function (e) {
                //alert("hello");
                if ("undefined" != typeof Windows) {
                    var t = new Windows.ApplicationModel.Contacts.ContactPicker;
                    t.pickContactAsync().done(

                        function (contact) {
                            document.getElementById("contactDiv").innerHTML = contact.name;
                            //$("#contactDiv").innerHTML = contact.name + 3;

                        }
                     )
                }
            });
        });




    </script>
}