<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="398955a2-4e22-4456-a914-574d6c8d46cd"
    Version="1.0.0.0"
    Publisher="CN=danmeix" />

  <mp:PhoneIdentity PhoneProductId="398955a2-4e22-4456-a914-574d6c8d46cd" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>HostedWebApp</DisplayName>
    <PublisherDisplayName>danmeix</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      StartPage="http://lockscreenweb.azurewebsites.net/">

      <uap:VisualElements
        DisplayName="HostedWebApp"
        Description="HostedWebApp"
        BackgroundColor="#464646"
        Square150x150Logo="images\Logo.png"
        Square44x44Logo="images\SmallLogo.png">

        <uap:SplashScreen Image="images\splashscreen.png" />

      </uap:VisualElements>
      
      <uap:ApplicationContentUriRules>      
        <uap:Rule Type="include" WindowsRuntimeAccess="all" Match="http://lockscreenweb.azurewebsites.net/" />
      </uap:ApplicationContentUriRules>

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
